/*-----------general styling ------------------------------*/
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
}

a {
  color: rgb(238, 124, 48);
  text-decoration: none;
}

a:hover {
  color: rgb(19, 134, 19);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------Back to top button ---------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background-image: linear-gradient(180deg, #e63922, #ff6e40 100%);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgb(19, 134, 19);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*----------Disable aos animation delay on mobile devices ----------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*------------------- Top Bar --------------------------*/
#topbar {
  background: #4e342e;
  color: #fff;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  z-index: 996;
  transition: all 0.5s;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar i {
  padding-right: 6px;
  line-height: 0;
}

/*-------------- Header --------------------------*/
#header {
  /*background: #ff6e40;*/
  background-image: linear-gradient(180deg, #e63922, #ff6e40 100%);
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  #header {
    padding: 15px 0;
  }
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: black;
}

#header .logo img {
  max-height: 90px;
  width: auto;
}


/*---------------- Navigation Bar --------------------*/
/*desktop styling*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #fff;
  background: fff;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #382303;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 0px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  color: #111;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #ff6e40;
  
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/* Mobile styling */
.mobile-nav-toggle {
  color: #555555;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(60, 60, 60, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #555555;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: rgb(19, 134, 19);
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: rgb(19, 134, 19);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}


/*----language(marathi-english) Button ---------*/

.appointment-btn {
  margin-left: 25px;
  background: #4e342e;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.appointment-btn:hover {
  background: rgb(19, 134, 19);
  color: #fff;
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 15px 0 0;
    padding: 6px 15px;
  }
}

/*---------- Banner Section ------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(60, 60, 60, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  
  align-items: flex-end;
}

/*#hero .container {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-top: 4px solid #63031b;
}*/

@media (max-width: 1200px) {
  #hero .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

#hero h2 {
  color: #2f2f2f;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}

#hero p {
  margin: 0 auto 30px auto;
  color: #555555;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
  
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
  
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: #3d0808;
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgb(26, 155, 26);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: rgb(26, 155, 26);
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  background: #8d0a0aee;
}

#hero .btn-get-started:hover {
  background: #d6073b;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }
  #hero .container {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 160vh;
  }
}

/*------- Sections styling ----------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

/*.section-bg {
  background-color: #f7fcfc;
}*/

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #8d0a0aee;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*---------- Featured Servicesr ------------*/
.featured-services a:hover {
  color: #9e3e11;
}

.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: '';
  position: absolute;
  background: #d9f1f2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #baf196;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: rgb(13, 95, 13);
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
  color: #111;
}

.featured-services .icon-box:hover .icon i {
  color: rgb(73, 19, 5);
}

/*----------- homeabout -----------*/
.abouthome .content h3 {
  font-weight: 600;
  font-size: 25px;
  color: rgb(19, 134, 19);
}

.abouthome .content ul {
  list-style: none;
  padding: 0;
}

.abouthome .content ul li {
  padding-bottom: 10px;
}

.abouthome .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #382303;
}

/*----------- News ------------*/
.news {
  background: #eef0ef;
}

.news .news-item {
  box-sizing: content-box;
  min-height: 320px;
}

.news .news-item .news-img {
  width: 90px;
  border-radius: 10%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.news .news-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.news .news-item h4 {
  font-size: 14px;
  color: #111;
  margin: 0 0 0 45px;
}

.news .news-item .quote-icon-left, .news .news-item .quote-icon-right {
  color: #36040a;
  font-size: 26px;
}

.news .news-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.news .news-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.news .news-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  color: #111;
  background: linear-gradient(10deg, #727571, #91989e 100%);
  position: relative;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.news .swiper-pagination {
  margin-top: 0px;
  position: relative;
}

.news .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid rgb(19, 134, 19);
}

.news .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(19, 134, 19);
}



/*----------- About Us -----------*/

  /*----- title section -----------------*/
.abouttitle {
  padding: 20px 0;
  background-color: #c8f5aa;
  min-height: 40px;
  margin-top: 170px;

  @media (max-width: 992px) {
    .abouttitle {
      margin-top: 70px;
    }
  }
}
  .abouttitle h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
  }
  @media (max-width: 992px) {
    .abouttitle h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .abouttitle ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .abouttitle ol li + li {
    padding-left: 10px;
  }
  
  .abouttitle ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #494e53;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .abouttitle .d-flex {
      display: block !important;
    }
    .abouttitle ol {
      display: block;
    }
    .abouttitle ol li {
      display: inline-block;
    }
  }

/*.about {
  background: #fecea8;
}*/
.about .content h3 {
  font-weight: 600;
  font-size: 25px;
  color: rgb(19, 134, 19);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #382303;
}

/*--------- Board of Directors ------------*/
.directors .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(63, 187, 192, 0.1);
}

.directors .member .member-img {
  position: relative;
  overflow: hidden;
  
}

.directors .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.directors .member .social a {
  transition: color 0.3s;
  color: #63031b;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.directors .member .social a i {
  line-height: 0;
}

.directors .member .social a:hover {
  color: #d6073b;
}

.directors .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.directors.member .member-info {
  padding: 25px 15px;
}

.directors .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 18px;
  color: #555555;
}

.directors .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.directors .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.directors .member:hover .social {
  opacity: 1;
}

/*---------- Counts ----------*/
.counts {
  padding-bottom: 30px;
}

.counts .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}

.counts .count-box i {
  display: block;
  font-size: 30px;
  color: #ff6e40;
  float: left;
}

.counts .count-box span {
  font-size: 42px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: black;
  margin-left: 50px;
}

.counts .count-box p {
  padding: 30px 0 0 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #7b7b7b;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
  color: #9e3e11;
}

/*------ newservice -----------------*/

/*---------- newservice title ----------------*/
.newservicestitle {
  padding: 20px 0;
  background-color: #c8f5aa;
  min-height: 40px;
  margin-top: 160px;

  @media (max-width: 992px) {
    .newservicestitle {
      margin-top: 160px;
    }
  }
}
  .newservicestitle h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
  }
  @media (max-width: 992px) {
    .newservicestitle h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .newservicestitle ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .newservicestitle ol li + li {
    padding-left: 10px;
  }
  
  .newservicestitle ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #494e53;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .newservicestitle {
      margin-top: 160px;
    }
    .newservicestitle .d-flex {
      display: block !important;
    }
    .newservicestitle ol {
      display: block;
    }
    .newservicestitle ol li {
      display: inline-block;
    }
  }
.newservice {
  padding: 60px 0;
  margin-top: 10px;
  /*background: #eef0ef;*/
}

.newservice .faq-list {
  padding: 0;
  list-style: none;
}

.newservice .faq-list li {
  border-bottom: 1px solid #b9f7c3;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.newservice .faq-list .question {
  display: block;
  position: relative;
  font-family: #63031b;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: rgb(19, 134, 19);
  transition: 0.3s;
}

.newservice .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

.newservice .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

.newservice .faq-list .icon-show {
  display: none;
}

.newservice .faq-list .collapsed {
  color: black;
}

.newservice .faq-list .collapsed:hover {
  color: #ff6e40;
}

.newservice .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.newservice .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}
.features {
margin-top: 30px;
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #63031b;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
/*--------- deposit title -----------*/
.deposititle {
  padding: 20px 0;
  background-color: #b9b6b6;
  min-height: 40px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .deposititle {
    margin-top: 70px;
  }
}

.deposititle h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .deposititle h2 {
    margin: 0 0 10px 0;
  }
}

.deposititle ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.deposititle ol li + li {
  padding-left: 10px;
}

.deposititle ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .deposititle .d-flex {
    display: block !important;
  }
  .deposititle ol {
    display: block;
  }
  .deposititle ol li {
    display: inline-block;
  }
}

/*-------- Loan title -----------*/
.loantitle {
  padding: 20px 0;
  background-color: #b9b6b6;
  min-height: 40px;
  margin-top: 50px;
  
}

@media (max-width: 992px) {
  .loantitle {
    margin-top: 70px;
  }
}

.loantitle h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .loantitle h2 {
    margin: 0 0 10px 0;
  }
}

.loantitle ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.loantitle ol li + li {
  padding-left: 10px;
}

.loantitle ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .loantitle .d-flex {
    display: block !important;
  }
  .loantitle ol {
    display: block;
  }
  .loantitle ol li {
    display: inline-block;
  }
}

/*---------- Account title ------------*/
.accounttitle {
  padding: 20px 0;
  background-color: #b9b6b6;
  min-height: 40px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .accounttitle {
    margin-top: 70px;
  }
}

.accounttitle h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .accounttitle h2 {
    margin: 0 0 10px 0;
  }
}

.accounttitle ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.accounttitle ol li + li {
  padding-left: 10px;
}

.accounttitle ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .accounttitle .d-flex {
    display: block !important;
  }
  .accounttitle ol {
    display: block;
  }
  .accounttitle ol li {
    display: inline-block;
  }
}

/*----------- sms banking title ------------*/
.smsbankingtitle {
  padding: 20px 0;
  background-color: #b9b6b6;
  min-height: 40px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .smsbankingtitle {
    margin-top: 70px;
  }
}

.smsbankingtitle h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .smsbankingtitle h2 {
    margin: 0 0 10px 0;
  }
}

.smsbankingtitle ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.smsbankingtitle ol li + li {
  padding-left: 10px;
}

.smsbankingtitle ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .smsbankingtitle .d-flex {
    display: block !important;
  }
  .smsbankingtitle ol {
    display: block;
  }
  .smsbankingtitle ol li {
    display: inline-block;
  }
}

/*--------- Portfolio title ------------*/
.portfoliotitle {
  padding: 20px 0;
  background-color: #c8f5aa;
  min-height: 40px;
  margin-top: 170px;
  
}

@media (max-width: 992px) {
  .portfoliotitle {
    margin-top: 160px;
  }
}

.portfoliotitle h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .portfoliotitle h2 {
    margin: 0 0 10px 0;
  }
}

.portfoliotitle ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.portfoliotitle ol li + li {
  padding-left: 10px;
}

.portfoliotitle ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .portfoliotitle {
    margin-top: 160px;
  }
  .portfoliotitle .d-flex {
    display: block !important;
  }
  .portfoliotitle ol {
    display: block;
  }
  .portfoliotitle ol li {
    display: inline-block;
  }
}

/*-------- New Gallary ---------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #444;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #428bca;
  color: #fff;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-wrap img {
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  text-align: center;
  background: rgba(31, 53, 72, 0.6);
  padding-bottom: 30px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-info a {
  color: #2f2f2f;
  margin: 0 4px;
  line-height: 0;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info a i {
  font-size: 22px;
  line-height: 0;
}

.portfolio .portfolio-wrap .portfolio-info a:hover {
  background: #fa7c4a;
  color: #fff;
}

.portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  padding-bottom: 0;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}


/*--------- Social title ------------*/
.socialtitle {
  padding: 20px 0;
  background-color: #c8f5aa;
  min-height: 40px;
  margin-top: 170px;
  
}

@media (max-width: 992px) {
  .socialtitle {
    margin-top: 160px;
  }
}

.socialtitle h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .socialtitle h2 {
    margin: 0 0 10px 0;
  }
}

.socialtitle ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.socialtitle ol li + li {
  padding-left: 10px;
}

.socialtitle ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .socialtitle {
    margin-top: 160px;
  }
  .socialtitle .d-flex {
    display: block !important;
  }
  .socialtitle ol {
    display: block;
  }
  .socialtitle ol li {
    display: inline-block;
  }
}

/*------- Social-activity styling start --------*/

#social .title{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
#social .social-info h3{
  margin-top: 10px;
}
#social .social-info p{
  margin-top: 15px;
}
#social{
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  /*background: #111;*/
  color: #111;
}
#social .social{
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0;
}
#social .social-gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#social .social-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#social .social-info{
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #727571, #91989e 100%);
  color: #fff;
}
#social .social-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
}
#social .social-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#social .social-img img{
  transition: .3s ease;
  height: 400px;
  width: 100vh;
 
}
#social .social-item:hover .social-img img{
  transform: scale(1.3);
}

/*------responsive social activity styling----------*/
@media only screen and (min-width:760px) {
  #social .social-item:nth-child(even) {
      flex-direction: row-reverse;
  }
  #social .social-item{
      flex-direction: row;
  }
  #social .social-item{
      height: 400px;
      margin: 0;
      width: 85%;
      border-radius: 0;
  }
  #social .social-gallery .social-info {
      height: 100%;
  }
  #social .social-gallery .social-img {
      height: 100%;
  }
}
@media only screen and (min-width:1300px) {
  #social .social-item{
      flex-direction: row;
  }
  #social .social-item{
      height: 300px;
      margin: 0;
      width: 95%;
      border-radius: 0;
  }
  #social .social-gallery .social-info {
      height: 100%;
      flex-basis: 60%;
  }
  #social .social-gallery .social-img {
      height: 100%;
      flex-basis: 60%;
  }
}


/*-----contact title ----------*/
.contacttitle {
  padding: 20px 0;
  background-color: #c8f5aa;
  min-height: 40px;
  margin-top: 170px;
  
}

@media (max-width: 992px) {
  .contacttitle {
    margin-top: 70px;
  }
}

.contacttitle h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .contacttitle {
    margin-top: 160px;
  }
  .contacttitle h2 {
    margin: 0 0 10px 0;
  }
}

.contacttitle ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.contacttitle ol li + li {
  padding-left: 10px;
}

.contacttitle ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .contacttitle {
    margin-top: 160px;
  }
  .contacttitle .d-flex {
    display: block !important;
  }
  .contacttitle ol {
    display: block;
  }
  .contacttitle ol li {
    display: inline-block;
  }
}

/*------- Contact ----------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: rgb(19, 134, 19);
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted rgb(19, 134, 19);
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #4e342e;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #4e342e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: rgb(19, 134, 19);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*-------- Preloader -------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #8d0a0aee;
  border-top-color: #ecf8f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*---------- department ----------*/
.departments .nav-tabs {
  border: 0;
}

.departments .nav-link {
  border: 0;
  padding: 20px;
  color: #555555;
  border-radius: 0;
  border-left: 5px solid #fff;
  cursor: pointer;
}

.departments .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.departments .nav-link p {
  font-size: 14px;
  margin-bottom: 0;
}

.departments .nav-link:hover h4 {
  color: rgb(19, 134, 19);
}

.departments .nav-link.active {
  background: #f7fcfc;
  border-color: rgb(19, 134, 19);
}

.departments .nav-link.active h4 {
  color: rgb(19, 134, 19);
}

.departments .tab-pane.active {
  -webkit-animation: slide-down 0.5s ease-out;
  animation: slide-down 0.5s ease-out;
}

.departments .tab-pane img {
  float: left;
  max-width: 300px;
  padding: 0 15px 15px 0;
}

@media (max-width: 768px) {
  .departments .tab-pane img {
    float: none;
    padding: 0 0 15px 0;
    max-width: 100%;
  }
}

.departments .tab-pane h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgb(19, 134, 19);
}

.departments .tab-pane p {
  color: black;
}

.departments .tab-pane p:last-child {
  margin-bottom: 0;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*------- Footer ----------*/
#footer {
  background: #14100f;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: rgb(46, 45, 45);
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background-image: linear-gradient(180deg, #e63922, #ff6e40 100%);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: rgb(19, 134, 19);
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: rgb(238, 124, 48);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: rgb(238, 124, 48);
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: linear-gradient(180deg, #e63922, #ff6e40 100%);;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: rgb(19, 134, 19);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}


